/* ==============================================
   Resolution Action System - Database Script
   Creates schema + seed data for demo
   ============================================== */

-- Create database 
IF DB_ID('MeetingMinutesDb') IS NULL
BEGIN
    CREATE DATABASE MeetingMinutesDb;
END
GO

USE MeetingMinutesDb;
GO

/* ==============================================
   1. TABLES
   ============================================== */

-- MeetingType
IF OBJECT_ID('dbo.MeetingType', 'U') IS NOT NULL
    DROP TABLE dbo.MeetingType;
GO

CREATE TABLE dbo.MeetingType (
    MeetingTypeId INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [Name]        VARCHAR(100) NOT NULL
);
GO

-- Meeting
IF OBJECT_ID('dbo.Meeting', 'U') IS NOT NULL
    DROP TABLE dbo.Meeting;
GO

CREATE TABLE dbo.Meeting (
    MeetingId     INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    MeetingTypeId INT NOT NULL,
    MeetingCode   VARCHAR(50) NOT NULL,
    MeetingDate   DATETIME NOT NULL
);
GO

-- MeetingItem
IF OBJECT_ID('dbo.MeetingItem', 'U') IS NOT NULL
    DROP TABLE dbo.MeetingItem;
GO

CREATE TABLE dbo.MeetingItem (
    MeetingItemId     INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    Title             VARCHAR(255) NOT NULL,
    ResponsiblePerson VARCHAR(100) NULL,
    [Description]     VARCHAR(MAX) NULL
);
GO

-- MeetingItemStatus
IF OBJECT_ID('dbo.MeetingItemStatus', 'U') IS NOT NULL
    DROP TABLE dbo.MeetingItemStatus;
GO

CREATE TABLE dbo.MeetingItemStatus (
    StatusId     INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    MeetingId    INT NOT NULL,
    MeetingItemId INT NOT NULL,
    [Status]     VARCHAR(50) NOT NULL,
    [Comment]    VARCHAR(MAX) NULL,
    UpdatedOn    DATETIME NOT NULL DEFAULT(GETDATE())
);
GO

/* ==============================================
   2. FOREIGN KEYS
   ============================================== */

ALTER TABLE dbo.Meeting
ADD CONSTRAINT FK_Meeting_MeetingType
    FOREIGN KEY (MeetingTypeId)
    REFERENCES dbo.MeetingType (MeetingTypeId);
GO

ALTER TABLE dbo.MeetingItemStatus
ADD CONSTRAINT FK_MeetingItemStatus_Meeting
    FOREIGN KEY (MeetingId)
    REFERENCES dbo.Meeting (MeetingId);
GO

ALTER TABLE dbo.MeetingItemStatus
ADD CONSTRAINT FK_MeetingItemStatus_MeetingItem
    FOREIGN KEY (MeetingItemId)
    REFERENCES dbo.MeetingItem (MeetingItemId);
GO

/* ==============================================
   3. SEED DATA
   ============================================== */

-- Meeting Types
INSERT INTO dbo.MeetingType ([Name])
VALUES ('MANCO'), ('Finance'), ('PTL');

-- Variables for IDs
DECLARE @MancoTypeId INT = 1;  -- MANCO
DECLARE @FinanceTypeId INT = 2; -- Finance

/* ---------- MANCO Meeting ---------- */
INSERT INTO dbo.Meeting (MeetingTypeId, MeetingCode, MeetingDate)
VALUES (@MancoTypeId, 'M01', '2024-11-01T09:00:00');

DECLARE @MancoMeetingId INT = SCOPE_IDENTITY();

INSERT INTO dbo.MeetingItem (Title, ResponsiblePerson, [Description])
VALUES ('Review Strategy', 'Liam', 'Discuss 2025 strategy');

DECLARE @MancoItemId INT = SCOPE_IDENTITY();

INSERT INTO dbo.MeetingItemStatus (MeetingId, MeetingItemId, [Status], [Comment])
VALUES (@MancoMeetingId, @MancoItemId, 'Open', 'Initial discussion');

/* ---------- Finance Meeting ---------- */
INSERT INTO dbo.Meeting (MeetingTypeId, MeetingCode, MeetingDate)
VALUES (@FinanceTypeId, 'F01', '2024-11-05T10:30:00');

DECLARE @FinanceMeetingId INT = SCOPE_IDENTITY();

INSERT INTO dbo.MeetingItem (Title, ResponsiblePerson, [Description])
VALUES ('Review 2025 Budget', 'Sarah', 'Budget approval for FY 2025');

DECLARE @FinanceItemId INT = SCOPE_IDENTITY();

INSERT INTO dbo.MeetingItemStatus (MeetingId, MeetingItemId, [Status], [Comment])
VALUES (@FinanceMeetingId, @FinanceItemId, 'Open', 'Budget not yet approved');

/* Optional check */
-- SELECT * FROM dbo.MeetingType;
-- SELECT * FROM dbo.Meeting;
-- SELECT * FROM dbo.MeetingItem;
-- SELECT * FROM dbo.MeetingItemStatus;
